# Serve gzip compressed HTML, CSS and JS files if they exist and the client accepts gzip.
# See http://httpd.apache.org/docs/current/mod/mod_deflate.html#precompressed
<IfModule mod_headers.c>
	<IfModule mod_rewrite.c>
		RewriteEngine on

		RewriteCond "%{HTTP:Accept-encoding}" "gzip"
		RewriteCond "%{REQUEST_FILENAME}\.gz" -s
		RewriteRule "^(.*)\.(css|js|html)"		 "$1\.$2\.gz" [QSA]

		# Serve correct content types, and prevent mod_deflate double gzip.
		RewriteRule "\.css\.gz$"  "-" [T=text/css,E=no-gzip:1]
		RewriteRule "\.js\.gz$"   "-" [T=text/javascript,E=no-gzip:1]
		RewriteRule "\.html\.gz$" "-" [T=text/html,E=no-gzip:1]

		<FilesMatch "(\.js\.gz|\.css\.gz|\.html\.gz)$">
			# Serve correct encoding type.
			Header append Content-Encoding gzip

			# Force proxies to cache gzipped &
			# non-gzipped css/js files separately.
			Header append Vary Accept-Encoding
		</FilesMatch>
	</IfModule>
</IfModule>
